/* Browser reset Code */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
 }
 body{
    background: rgb(167, 213, 214);
 }
 header {
    background: cadetblue;
    text-align: center;
    padding: 18px;
    font-size: 26px;
}
 section#login_section {
    .main_div{
       margin-top: 10px;
       padding: 7px;
    }
    width: 575px;
    background: aliceblue;
    height: 251px;
    margin: 0 auto;
    margin-top: 250px;
    border-radius: 5px;
 
    .login_form{
       padding: 4px;
       width: 219px;
       margin: 0 auto;
       margin-top: 19px;
       .form_info {
          padding: 6px;
          width: 219px;
          margin: 0 auto;
          margin-top: 19px;
       }
       .submit{
          width: 74px;
          height: 29px;
          margin-top: 7px;
          cursor: pointer;
          float: left;
       }
    }
    .registar_form{
       .registar{
          width: 74px;
          height: 29px;
          margin-top: 3px;
          cursor: pointer;
          margin-left: 4px;
       }
       
    }
 }

 footer{
    background: cadetblue;
    text-align: center;
    height: 94px;
    padding: 22px;
    font-size: 27px;
    margin-top: 247px;
 }
 