/* Browser reset Code */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
 }

p {
    margin: 0 auto;
    background: cadetblue;
    text-align: center;
    height: 94px;
    padding: 22px;
}